#favoritesContainer {
    position: relative;
    width: 100%;
    height: 100%;
    grid-column: 3;
    grid-row: 1 / span 2;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: flex;
    flex-direction: column;
}

#favoritesTitle {
    position: relative;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

#favoriteScroller {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid red;
    overflow-y: auto;
    overflow-x: hidden;
}

/* @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(75px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
} */

.show {
    opacity: 1;
}

#favoriteScroller > img {
    box-sizing: border-box;
    padding: 1rem 2rem 0;
    position: relative;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: 350ms;
}