.grid-container {
    position: absolute;
    width: 80vw;
    height: 70vh;
    top: 20%;
    right: 10%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 35% 65%;
    gap: 1.4rem;
    border: 3px solid red;
}