#icon {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
    /* margin-top: 1.5vh; */
    height: 10%;
}

#text {
    font-size: 1.25vw;
    font-weight: 600;
    margin: 0.25rem;
}

#arrowIcon {
    font-size: 2.5vw;
    transition: 250ms;
}

#arrowIcon:hover {
    cursor: pointer;
    transform: scale(1.1);
}