#icon {
    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#text {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
}