#left-cell {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-bottom: 5rem;
    width: 40%;
}

#average {
    position: relative;
    width: 75%;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    position: relative;
    grid-column: 1;
    text-align: center;
    margin-bottom: 2rem;
}

#graph-Container {
    box-sizing: border-box;
    position: relative;
    padding: 1.5rem;
    padding-right: 2rem;
    width: 90%;
    height: 65%;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    grid-column: 1;
}

#movieReviewContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
}

#movieReviewTitle {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#movieReviewTitle > h2 {
    margin-right: 1rem;
}

.btn {
    cursor: pointer;
    position: relative;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 1.5rem;
    display: inline-block;
    border-radius: 20px;
    transition: all 250ms;
    border: none;
    font-family: inherit;
    font-weight: 700;
    color: black;
    background-color: white;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

#movieReview-Grid {
    position: relative;
    top: 0%;
    height: fit-content;
    max-height: 85%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto;
    overflow-y: auto;
    margin-right: 2rem;
    gap: 0;
}

.movie-review-item {
    box-sizing: border-box;
    background-color: white;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 20px;
    height: fit-content;
    position: relative;
    padding: 0 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.movie-review-item > h3 {
    margin: 0.5rem 0 0 0.5rem
}

.movie-review-item > h4 {
    margin: 0 0 0 0.5rem;
}

.movie-review-item > p {
    font-weight: 500;
    margin: 0.5rem;
}

#no-review-message {
    position: relative;
    box-sizing: border-box;
    background-color: white;
    text-align: center;
    padding: 0.25rem;
    border-radius: 20px;
    width: 80%;
    margin-left: 10%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}