/* *{
    border: 1px solid red;
} */

.movieinfo-container {
    box-sizing: border-box;
    position: relative;
    left: 17.5%;
    top: 12.5%;
    width: 65vw;
    display: grid;
    grid-template-columns: 0.75fr 2fr;
    grid-template-rows: auto auto auto; /* 2nd row takes up both column spaces */
    column-gap: 0.5rem;
    background-color: white;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#movie-title {
    grid-column: span 2;
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.movieinfo-container #poster,
.movieinfo-container #backdrop {
    width: 100%;
    height: 100%;
}

.movieinfo-container #poster img, 
.movieinfo-container #backdrop img {
    width: 100%;
    height: auto;
}

#movie-info {
    display: flex;
    width: 100%;
    height: 100%;
    grid-column: span 2; /* This will make the div span both columns */
    line-height: 1.5rem;
    font-weight: 500;
    font-size: 1.6vh;
}

#movie-info #description {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}