.scroller {
    position: absolute;
    height: 70vh;
    top: 20%;
    right: 15%;
}

.scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
    
}

.scroller[data-animated="true"] {
    overflow: hidden;
    mask: linear-gradient(180deg, transparent, white 5%, white 90%, transparent);
}


.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll 40s reverse linear infinite;
}

@keyframes scroll {
    to {
      transform: translateY(calc(-50% - 0.5rem));
    }
  }