.nav-container {
    background-color: #000000;
    position: absolute;
    width: 100vw;
    height: 8vh;
    min-height: 50px;
    left: 0;
    top: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 1.8rem;
    color: white;
}

.left {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 4rem;
    font-weight: 700;
}

.center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.center input {
    font-size: 1.5rem;
    width: 30%;
    padding: 0.35rem 0.5rem;
    border: 2px solid transparent;
    border-radius: 1rem;
    outline: none;
    transition: 250ms;
}

.center .input:focus, .center input:hover {
    outline: none;
    border-color: #FCA311;
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.center input:focus {
    outline: none;

}

.right {
    height: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 4rem;
}