.nav-container {
    background-color: #252422;
    position: absolute;
    width: 100vw;
    height: 8vh;
    min-height: 50px;
    left: 0;
    top: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 1.5vw;
    color: white;
}

.left {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 4rem;
    font-weight: 700;
    font-style: italic;
}

.left > span {
    transition: 250ms;
}

.left > span:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.center input {
    font-size: 1.25vw;
    width: 30%;
    padding: 0.35rem 0.5rem;
    border: 2px solid transparent;
    border-radius: 1rem;
    outline: none;
    transition: 250ms;
}

.center .input:focus, .center input:hover {
    outline: none;
    border-color: red;
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.center input:focus {
    outline: none;

}

.center #searchIcon, 
.center #searchMovie, 
.center #searchUser {
    transition: 300ms;
}

.center #searchIcon:hover,
.center #searchMovie:hover, 
.center #searchUser:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 4rem;
}