#page-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#bgImage {
    width: 100%;
    height: 100%;
}

#form {
  position: absolute;
  width: 25vw;
  height: 40vh;
  left: 50%;
  transform: translateX(-50%);
  top: 30vh;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#login {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 500ms;
}

#signup {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 500ms;
}

.login-form {
  transform: translateY(0);
}

.signup-form {
  transform: translateY(-100%);
}