#page-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#bgImageContainer {
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#bgImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#form {
  position: relative;
  width: 25vw;
  height: 40vh;
  /* left: 50%;
  transform: translateX(-50%);
  top: 30vh; */
  border-radius: 20px;
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#login {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: black; */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 500ms;
}

#signup {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  /* background-color: white; */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 500ms;
}

.login-form {
  transform: translateY(0);
}

.signup-form {
  transform: translateY(-100%);
}

.formname {
  font-size: 1.5rem;
  font-weight: 900;
  position: absolute;
  top: 0;
}

#form > input[type=text] {
  border: 1px solid transparent;
  margin-bottom: 1.5rem;
  width: 55%;
  padding: 0.35rem;
  font-size: 1.5rem;
  outline: none;
  border-radius: 10px;
}

#loginBtn,
#signupBtn {
  position: relative;
  width: 30%;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 0.25rem;
  font-size: 1.5rem;
  margin-top: 2rem;
  cursor: pointer;
}

#gotologin, 
#gotosignup {
  position: absolute;
  bottom: 5%;
  cursor: pointer;
}