#page-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#bgImageContainer {
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#bgImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#form {
  position: relative;
  width: 25vw;
  height: 40vh;
  /* left: 50%;
  transform: translateX(-50%);
  top: 30vh; */
  border-radius: 20px;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#login {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: black; */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 500ms;
}

#signup {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  /* background-color: white; */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 500ms;
}

.login-form {
  transform: translateY(0);
}

.signup-form {
  transform: translateY(-100%);
}

.formname {
  font-size: 1.375vw;
  font-weight: 900;
  font-style: bold;
  position: absolute;
  top: 0;
}

.inputs {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 40%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 0.5rem;
}

.inputs > input[type=text],
.inputs > input[type=password] {
  border: 1px solid black;
  width: 55%;
  padding: 0.7rem;
  font-size: 1.25vw;
  outline: none;
  border-radius: 10px;
  margin-top: 1rem;
}

.inputs > input[type=text]:focus,
.inputs > input[type=password]:focus {
  border-color: hsl(17, 83%, 64%);
  box-shadow: 0 0 0 0.1rem hsl(17, 83%, 64%);
}

#loginBtn,
#signupBtn {
  position: relative;
  width: 30%;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 0.25rem;
  font-size: 1.5rem;
  margin-top: 2rem;
  cursor: pointer;
  background-color: white;
}

#loginBtn, 
#signupBtn {
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
}
 
#loginBtn::before, 
#signupBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: hsl(17, 83%, 64%);
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
}
 
#loginBtn:hover, 
#signupBtn:hover {
  color: white;
}

#loginBtn:active,
#signupBtn:active {
  transform: scale(1.05);
}
 
#loginBtn:hover::before, 
#signupBtn:hover::before {
  width: 100%;
}

.loginnav {
  position: absolute;
  display: flex;
  bottom: 0%;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.loginnav > h3 {
  font-weight: 300;
}

#gotologin, 
#gotosignup {
  cursor: pointer;
  background-color: white;
  border: unset;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: 800;
  padding: 0.35rem;
  height: 80%;
  transition: 250ms;
}

/* #gotologin:hover, 
#gotosignup:hover {
  padding: 0.5rem;
  font-size: 0.9rem;
} */

#gotologin:active, 
#gotosignup:active {
  background-color: hsla(0, 0%, 100%, 0.775);
}