#footer {
    position: relative;
    bottom: 0;
    width: 100vw;
    height: 6vh;
    min-height: 40px;
    background-color: #252422;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer > span {
    min-width: 5vw;
    font-size: 4vh;   
}

#footer > span > a {
    text-decoration: none;
    cursor: pointer;
}